{% extends "base.html" %}
{% load staticfiles %}
{% block title %}所有菜品{% endblock %}

{% block content %}

<div class="container">
	<div class="contsiner col-sm-12">
		<div class="row">
			<h2 class="text-center">所有菜品</h2>
		</div>
	</div>

	<!-- left-->
	<div class="contsiner col-sm-8">
		<div class="well">
			<h3 class="text-center">菜品列表</h3>
			<div class="row">
				{% for d in dish_list %}
					<div class="contsiner col-sm-4">
						<a href="/dishes/?id={{ d.id }}">
							<img src="/{{ d.img }}" alt="{{ d.name }}" class="img-rounded" onload="if(this.width>200||this.height>200){this.width>this.height?this.width=200:this.height=200;};">
							<p class="text-center">{{ d.name }}</p>
						</a>
					</div>
				{% empty %}
					<h3 class="text-center">暂无菜品</h3>
				{% endfor %}
			</div>
		</div>
	</div>
	<!-- right -->
	<div class="container col-sm-4">
		<div class="well">
			<h3 class="text-center">高分菜品</h3>
			<ul class="list-group">
				{% for d in dish_list %}
					<a class="list-group-item" href="/dishes/?id={{ d.id }}">{{ d.name }}</a>
				{% empty %}
					<li class="list-group-item">暂无菜品</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>

{% endblock %}
