{% load staticfiles %}
<!DOCTYPE html>

<html>
	<head>
		<title>{% block title %}{% endblock %}</title>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}">
		<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap-theme.min.css" %}">
	</head>
	<body style="background-color:#eeeeee; padding-top: 50px;">

		<!--Here is the navbar-->
		<nav class="navbar  navbar-fixed-top navbar-inverse" role="navigation" style="padding-left:100px">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#id_navbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">食堂达人</a>
			</div>
			<div class="collapse navbar-collapse navbar-example" id="id_navbar">
				<ul class="nav navbar-nav">
		            <li><a href="/">主页</a></li>
		            <li><a href="#">经验</a></li>
		            <li><a href="/allassessment/">点评</a></li>
		            {% if username %}
		            	<li><a href="#">推荐</a></li>
		            {% endif %}
		            <li><a href="/guestbook/">留言板</a></li>
		            <li><a href="/about/">关于</a></li>
	        	</ul>
				<ul class="nav navbar-nav navbar-right" style="margin-right:50px;">
					{% if username %}
						<li><p class="navbar-text">欢迎&nbsp; <span style="color:white">{{username}}</span></p></li>
						<li><a href="/logout/">登出</a></li>
					{% else %}
						<li><a href="/signup/">注册</a></li>
						<li><a href="/login/">登录</a></li>
					{% endif %}
				</ul>
			</div>
		</nav>

		<!--Here is the header-->
		{% if not noheader %}
		<header class="jumbotron subhead" id="overview" style="background-color:#000;color:#fff;">
			<div class="container">
				<h1>HIT 食堂达人</h1>
				<p>&emsp;&emsp;我们的食堂我们做主！</p>
			</div>
		</header>
		{% endif %}

		<!--Here starts the main part-->
		{% block content %}
		{% endblock %}

		<!--Here is the footer-->
		<footer class="bs-footer" role="contentinfo">
			<hr>
			<div class="container">
				
			</div>
		</footer>
		<script type="text/javascript" src="{% static "js/jquery.min.js" %}"></script>
		<script type="text/javascript" src="{% static "js/holder.min.js" %}"></script>
		<script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>
	</body>
</html>
