{% extends "base.html" %}
{% load staticfiles %}
{% block title %}{{ dish.name }}{% endblock %}

{% block content %}

<div class="container">
	<div class="contsiner col-sm-12">
		<div class="row">
			<h2 class="text-center">{{ dish.name }}</h2>
		</div>
	</div>

	<!-- left-->
	<div class="contsiner col-sm-8">
		<ol class="breadcrumb">
			<li>location:&nbsp;&nbsp;{{ dish.window.restaurant.school.name }}</li>
			<li><a href="/canteens/?id={{ dish.window.restaurant.id }}">{{ dish.window.restaurant.name }}</a></li>
			<li>{{ dish.window.floor }}F</li>
			<li class=><a href="/windows/?id={{ dish.window.id }}">{{ dish.window.name }}</a></li>
			<li class="active">{{ dish.name }}</li>
		</ol>
		<div class="well">
			<h3 class="text-center">{{ dish.name }}</h3>
			<div class="row">
				<div class="container col-sm-6">
					<ul class="list-group">
						<h3 class="list-group-item-heading text-center">dafen</h3>
						<li class="list-group-item">taste:<span class="text-info">{{ ave_taste }}</span>&nbsp;&nbsp;service:<span class="text-info">{{ ave_service }}</span></li>
						<li class="list-group-item">price:<span class="text-info">{{ ave_price }}</span>&nbsp;&nbsp;level:<span class="text-info">{{ ave_level }}</span></li>
					</ul>
					<ul class="list-group">
						<h3 class="list-group-item-heading text-center">yinyang</h3>
						<li class="list-group-item">energy:{{ dish.energy }}(kcal)</li>
						<li class="list-group-item">fat:{{ dish.fat }}(g)</li>
						<li class="list-group-item">carbohydrate:{{ dish.carbohydrate }}(g)</li>
						<li class="list-group-item">vb1:{{ dish.vb1 }}(mg)</li>
						<li class="list-group-item">vb2:{{ dish.vb2 }}(ug)</li>
					</ul>
				</div>
				<div class="container col-sm-6">
					<div class="row" align="center">
						<img src="/{{ dish.img }}" alt="{{ dish.name }}" class="img-rounded" onload="if(this.width>330||this.height>330){this.width>this.height?this.width=330:this.height=330;};">
					</div>
					<div class="row" style="margin-top:30px;">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">Description</h3>
							</div>
							<div class="panel-body">
								<p>{{ dish.desc }}</p>
							</div>
						</div>
					</div>
				</div>
				<div class="container col-sm-12" align="center">
					<div class="row">
						<a href="#id_add_ass" type="button" class="btn btn-primary btn-lg">Assessment</a>
					</div>
				</div>
			</div>
		</div>
		<div class="well">
			<h3 class="text-center">Assessment</h3>
			<p>there are <span class = "text-info">{{ num_of_ass }}</span> assessment for this dish</p>
			<div class="list-group">
				{% for a in assessment_list %}
				<div class="panel-default list-group-item" id="id_for_index_{{ a.id }}">
					<div class="panel-heading">
						<h4 class="panel-title">taste:{{ a.taste }}&nbsp;service:{{ a.service }}&nbsp;price:{{ a.price}}&nbsp;level:{{ a.level }}</h4>
					</div>
					<div class="panel-body">
						<p>{{ a.content }}</p>
						<p class="text-right">{{ a.user.user.username }}&nbsp;&nbsp;<small>{{ a.create_datetime|date:"Y-m-d H:i:s" }}</small></p>
					</div>
				</div>
				{% empty %}
					<li class="list-group-item text-center">has no assessment</li>
				{% endfor %}
			</div>
		</div>
		{% if username %}
		<div class="well" id="id_add_ass">
			<form method="post" role="form" class="form-horizontal">
				{% csrf_token %}
				<div class="form-group">
					<label class="control-label col-sm-2" for="id_taste">taste:</label>
					<div class="col-sm-4">
						<input class="form-control" type="range" min="1" max="5" name="taste" id="id_taste">
					</div>
					<label class="control-label col-sm-2" for="id_service">service:</label>
					<div class="col-sm-4">
						<input class="form-control" type="range" min="1" max="5" name="service" id="id_service">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" for="id_price">price:</label>
					<div class="col-sm-4">
						<input class="form-control" type="range" min="1" max="5" name="price" id="id_price">
					</div>
					<label class="control-label col-sm-2" for="id_level">level:</label>
					<div class="col-sm-4">
						<input class="form-control" type="range" min="1" max="5" name="level" id="id_level">
					</div>
				</div>
				<div class="form-group">
					<textarea class="form-control" rows="5" placeholder="留下你此刻的想法。。" required name="content"></textarea>
				</div>
				<div class="row">
					<div class="form-group">
						<div class="col-sm-1 col-sm-offset-4">
							<input type="submit" class="btn btn-info" >
						</div>
						<div class="col-sm-1 col-sm-offset-2">
							<input type="reset" class="btn btn-danger" >
						</div>
					</div>
				</div>
			</form>
		</div>
		{% endif %}
	</div>
	<!-- right -->
	<div class="container col-sm-4">
		<div class="well">
			<h3 class="text-center">other dishes in this window</h3>
			<div class="list-group" align="center">
				{% for d in dish.window.dish_set.all %}
					<a href="/dishes/?id={{ d.id }}" class="list-group-item">
						<img src="/{{ d.img }}" alt="{{ d.name }}" class="img-rounded" onload="if(this.width>200||this.height>200){this.width>this.height?this.width=200:this.height=200;};">
						<p class="text-center">{{ d.name }}</p>
					</a>
				{% empty %}
					<li class="list-group-item">has no dish</li>
				{% endfor %}
			</div>
		</div>
	</div>
</div>

{% endblock %}