{% extends "base.html" %}

{% block title %}今天吃什么？ - 食堂达人{% endblock %}

{% block content %}

<div class="container">
	<div class="row col-sm-8 col-sm-offset-2">
		<div class="row">
			<h2 class="text-center">推荐饮食如下</h2>
		</div>
		<div class="row well">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>早餐</th>
						<th>午餐</th>
						<th>晚餐</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>{{result.0.0.name}}</td>
						<td>{{result.0.1.name}}</td>
						<td>{{result.0.2.name}}</td>
					</tr>
					<tr>
						<td>{{result.1.0.name}}</td>
						<td>{{result.1.1.name}}</td>
						<td>{{result.1.2.name}}</td>
					</tr>
					<tr>
						<td>{{result.2.0.name}}</td>
						<td>{{result.2.1.name}}</td>
						<td>{{result.2.2.name}}</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div>
			<h3>参考：菜品id列表</h3>
			<ul class="list-group">
			{% for dish in dishlist %}
				<li class="list-group-item">[{{dish.id}}] {{dish.name}} ({{dish.window.restaurant.school.name}}->{{dish.window.restaurant.name}}{{dish.window.floor}}楼->{{dish.window.name}})</li>
			{% endfor %}
			</ul>
		</div>
	</div>
</div>

{% endblock %}
