{% extends "base.html" %}

{% block title %}Sign Up{% endblock %}

{% block content %}

<div class="container" style="margin-top:50px">

	<div class="col-md-6 col-md-offset-3">
		{% if status %}
			<div class="well">
				<h2 style="font-color:red">{{ status }}</h2>
			</div>
		{% endif %}
		<form role="form" class="form-horizontal" method="post">
			{% csrf_token %}
			<h2 class="form-signin-heading" align="center">Please sign up</h2>

			<div class="form-group">
				<label for="id_user_name" class="col-sm-3 control-label">User Name:</label>
				<div class="col-sm-9">
					<input type="text" class="form-control" id="id_user_name" placeholder="user name" required name="username" autofocus>
				</div>	
			</div>
			
			<div class="form-group">
				<label for="id_passwd" class="col-sm-3 control-label">Password:</label>
				<div class="col-sm-9">
					<input type="password" class="form-control" placeholder="Password" required name="passwd" id="id_passwd">
				</div>	
			</div>

			<div class="form-group">
				<label for="id_repasswd" class="col-sm-3 control-label">RePassword:</label>
				<div class="col-sm-9">
					<input type="password" class="form-control" placeholder="RePassword" required name="repasswd" id="id_repasswd">
				</div>	
			</div>

			<div class="form-group">
				<label for="id_email" class="col-sm-3 control-label">E-mail:</label>
				<div class="col-sm-9">
					<input type="email" class="form-control" placeholder="Email address" required name="email" id="id_email">
				</div>	
			</div>
			
			<div class="form-group">
				<label for="id_hit_id" class="col-sm-3 control-label">HIT-ID:</label>
				<div class="col-sm-9">
					<input type="text" class="form-control" placeholder="HIT_ID" name="hit_id" required id="id_hit_id">
				</div>	
			</div>			
			<div class="form-group">
				<div class="col-sm-6 col-sm-offset-3">
					<button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
				</div>
			</div>
		</form>
	</div>
</div>

{% endblock %}