{% extends "base.html" %}

{% block title %}个人中心 - 食堂达人{% endblock %}

{% block content %}

<div class="container">
	<div class="well" align="center">
		<h2 lang="center">个人中心</h2>
		<hr>
		<div>
			<h3>我的所有点评</h3>
			<ul>
			{% for assessment in assessments %}
			<li>
				<small>{{ assessment.create_datetime|date:"Y-m-d H:i:s" }}</small>
				<a href="/dishes/?id={{assessment.dish.id}}">{{assessment.dish.name}}</a>
				{{assessment.level}}星
			</li>
			{% endfor %}
			</ul>
		</div>
		<div>
			<h3>我的所有留言</h3>
			{% for message in messages %}
			<ul>
				<small>{{ message.create_datetime|date:"Y-m-d H:i:s" }}</small>
				<a href="/guestbook/#{{ message.id }}">{{message.title}}</a>
				{% if message.reply_set.all %} 已回复 {% else %} 未回复 {% endif %}
			</ul>
			{% endfor %}
		</div>
	</div>
</div>

{% endblock %}
